@font-face {
    font-family: "Header";
    src: url('fonts/Carnevalee\ Freakshow.ttf'), format('truetype');
}

@font-face {
    font-family: "WigendaTypewrite Condense";
    src: url("fonts/WigendaTypewrite\ \ Condensed.ttf");
}

@font-face {
    font-family: "WigendaTypewrite Bold";
    src: url("fonts/WigendaTypewrite\ \ Bold.ttf");
}

@font-face {
    font-family: "Chomsky";
    src: url("fonts/Chomsky.otf");
}

@font-face {
    font-family: "Por Siempre Gotica";
    src: url("fonts/Por\ Siempre\ Gótica.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("img/fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

header{
   padding: 0 20px;
   align-items: center;
    height: 150px;
    display: flex;
    justify-content: space-around;
    border:  1px solid #d6b855;
    background: #9b7c32;
    
    
}
header nav ul{
    display: flex;
    list-style: none;
    padding-left: 100px;
    padding-right: 10px;
    justify-content: space-between;
    background: #9b7c32;

}

header nav{
    display: flex;
    align-items: center;
    
}

header nav ul li a{
    
    display: flex;
    text-decoration: none;
    color: #F5E9A3;
    padding-right: 130px;
    background: #9b7c32;
    font-size: 40px;
    font-family: "Chomsky", 'cursive';
    text-shadow: -2px 1.5px  #9e8f39;
    transition: all 0.05s linear;
}

header nav ul li a:hover{
    color: #715c2b;

}



header img{
    border-radius: 15px;
    max-width: 250px;
    filter: sepia(0.7) brightness(1.5) contrast(1.4) saturate(1.7);
}

.Lancamento-inicio{
    display: flex;
    gap: 70px;
}
.Lancamento-inicio img{
    max-width: 350px;
}

.titulo-inicio{
    color: #80621e;
    text-shadow: -2px 2px 4px black;
    margin-left: 250px;
    margin-top: 70px;
    font-size: 60px;
    font-family: "Por Siempre Gotica", cursive;
}

.main-inicio{
    background-color: #d8ad75;
    border-radius: 5px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: -10px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: -1px 1px 10px burlywood;
   
}

.main-inicio div{
    display: flex;
    justify-content: center;
}

.main-inicio p{
    max-width: 500px;
    font-family: "WigendaTypewrite Bold";
    font-size: 15px;
}

.main-inicio img{
    max-height: 300px;
    padding-top: -10px;
}
.div1-inicio{
display: flex;
gap: 50px;
padding-left: 10px;

}

.div2-inicio img{
    padding-top: -100px;
}

.div2-inicio{
    display: flex;
gap: 50px;
    padding-right: -100px;
}

.div3-inicio{
    display: flex;
gap: 50px;
padding-left: 10px;
align-items: flex-start;

}









.produtos-carousel p{
    font-family: "Por Siempre Gotica", cursive;
}


.produtos-carousel-container {
    position: relative;
    margin: 50px 200px;
    overflow: hidden;
    background-color: #dab75a;
    border-radius: 5px;
    padding: 20px 40px;
    box-shadow: -1px 1px 10px burlywood;
}

.produtos-carousel {
    display: flex;
    gap: 90px;
    transition: transform 0.4s ease-in-out;
    scroll-behavior: smooth;
    overflow-x: auto;
    
}

.produtos-carousel::-webkit-scrollbar {
    display: none; /* Chrome */
}

.produto {
    min-width: 200px;
    max-width: 200px;
    border: 1px solid rgb(88, 88, 88);
    
    flex-shrink: 0;
    
}

.produto p{
display: flex;
 padding: 1px;
text-align: center;
}


.link-produtos {
    text-decoration: none;
    color: black;
    
}


.produto img {
    max-width: 200px;
    border-bottom: 0.2px solid rgb(88, 88, 88);
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #9b7c32;
    color: #F5E9A3;
    font-size: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.carousel-btn.left {
    left: 5px;
}

.carousel-btn.right {
    right: 5px;
}

.carousel-btn:hover {
    background-color: #715c2b;
}












.produto-compra {
    margin: 50px;
    margin-left: 450px;
    margin-right: 450px;
    background-color: #bbab4f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -1px 1px 10px burlywood;
  }

  .produto-detalhe{
    display: flex;
    align-items: flex-start; 
  }
  
  .produto-compra img {
    max-width: 400px;
    border-radius: 8px;
  }
  
  .inform-compra {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
  }
  
  .inform-compra h1  {
    margin-bottom: 10px;
    font-family: "Chomsky", cursive;
    font-size: 50px;
    color: #3c2f1c;
    margin-bottom: 30px
  }

  .inform-compra h3{
    font-family: "WigendaTypewrite Bold", "cursive";
  }

.inform-compra label{
font-size: 20px;
font-family: "WigendaTypewrite Bold", "cursive";
}
  
  .campos {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .botoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .botao {
    padding: 6px 16px;
    font-size: 14px;
    background-color: #9b7c32;
    color: #F5E9A3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: "WigendaTypewrite Bold", cursive;
    transition: background-color 0.3s;
  }
  
  .botao:hover {
    background-color: #b49348;
  }


  .descricao-produto summary{
    font-size: 40px;
    font-family: "Por Siempre Gotica", "cursive";
    box-shadow: 0 1px black;

  }

  .descrition-p{
    font-family: "WigendaTypewrite Bold", "cursive";
  }

  








  .conteudo-principal {
    padding: 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: #d8ad75;
    box-shadow: -1px 1px 10px burlywood;
    border-radius: 8px;
}

.conteudo-principal h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Por Siempre Gotica", "cursive";
    text-shadow: -1px 1px #333;
}

.conteudo-principal p {
    line-height: 2;
    margin-bottom: 15px;
    font-family: "WigendaTypewrite Bold", "cursive";

}










.main-contato{
    padding: 40px;
  font-family: 'Georgia', serif;
  color: #000000;
  text-align: center;
}

.main-contato h1{
    font-family: "Por Siempre Gotica", "cursive";
    font-size: 50px;
    text-shadow: -1px 1px black;
}

.main-contato label{
    font-family: "WigendaTypewrite Bold";
    text-shadow: -1px 1px black;
}

.main-contato p{
    font-family: "WigendaTypewrite Bold", "cursive";
    padding-top: 10px;
    color: #f0c769;
    text-shadow: -1px 1px 3px black,
    1px -1px 3px black,
    1px 1px 3px black,
    -1px -1px 3px black;
}

form{
    max-width: 600px;
  margin: 0 auto;
  background-color: #b99a52;
    display: flex;
    flex-direction: column;
    align-items: center;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.text-contato , .input-contato{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
    font-size: 1rem;
    font-family: 'WigendaTypewrite Bold', serif;
}

.botao-contato{
    background-color: rgb(236, 192, 134);
  color: rgb(83, 57, 26);
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "WigendaTypewrite Bold", "cursive";
  font-size: 25px;
}

.botao-contato:hover{
    background-color: #444;
}




























.rodape-relative{
    bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #9b7c32;
    padding: 20px;
    color: #F5E9A3;
    position: relative;
}

.rodape-absolute{
    
    bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #9b7c32;
    padding: 20px 0;
    color: #F5E9A3;
    position: absolute;
    width: 100%;
}

.rodape-absolute div h2, p{
    padding-left: 50px;
}

footer h2{
    font-family: "Por Siempre Gotica", cursive;
    font-size: 250%;
}

  
.rodape{
    
    display: flex;
    justify-content: space-around;
 
}

.rodape ul{
    list-style: none;
}

.links-rodape{
    text-decoration: none;
    color: #F5E9A3;
    
}

.links-rodape:hover{
    color: #5e4d24;
}


.copyright-rodape{
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddcc68;
    padding-bottom: 1px;
}
